---
---
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

.author__avatar img {
  max-width: 220px;
  border-radius: 50%;
}

#main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.sidebar.sticky {
  width: 250px;
  min-width: 250px;
  padding-right: 1em;
}

.page, article.page {
  flex: 1;
  min-width: 0;
}
